* {
  box-sizing: border-box;
}

.body {
  font-family: Arial;
  margin: 0;
}

.main {
  
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  
  justify-content: space-between;
  padding: 60px;
  background: #13293d;
  color: #fff;
}
